body {    
    transition: background-color 0.5s steps(3, end);
}

.flash {
    background-color: white;
}

#title-display {
    text-align: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.amber-warning {
    color:rgb(255, 200, 0);
}

.normal-text {
    color: rgb(0, 230, 0);
}